<p style="color: green"><%= notice %></p>
<div class="container">
  <h1>Posts</h1>
  <div id="posts">
    <% @posts.each do |post| %>
      <div class="card mt-3">
        <div class="card-body">
          <h2 class="card-title"><%= post.title %></h2>
          <h4 class="card-text">posted by <%= link_to post.user.full_name, user_path(post.user) %></h4>
          <h6 class="card-text"><%= pluralize(post.views, "view") %></h6>
          <p class="card-text"><%= post.body.to_plain_text.truncate_words(100) %></p>
          <p>
            <%= link_to "Show this post", post %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "New post", new_post_path %>
</div>
