<div id="<%= dom_id category %>">
  <h2>
    <% target = action_name.eql?("show") ? categories_path : category %>
    <%= link_to category.name.capitalize, target %>
  </h2>
  <% category.posts.includes(:user, :rich_text_body).each do |post| %>
    <div class="card mt-3">
      <div class="card-body">
        <h2 class="card-title"><%= post.title %></h2>
        <h4 class="card-text">posted by <%= link_to post.user.full_name, user_path(post.user) %></h4>
        <h6 class="card-text"><%= pluralize(post.views, "view") %></h6>
        <p class="card-text"><%= post.body.to_plain_text.truncate_words(100) %></p>
        <p>
          <%= link_to "Show this post", post %>
        </p>
      </div>
    </div>
    <%# render 'posts/post', post: post %>
  <% end %>
</div>
