<nav class="navbar navbar-expand-lg navbar-light sticky-top mb-3" style="background-color: purple;">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand text-white" do %>
      <%= image_tag "https://img.freepik.com/premium-vector/cute-coffee-with-code-illustration-cafe-restaurant-menu-cafe-logo-programmer-freelancer-developer-flat-cartoon-style-suitable-web-landing-page-banner-flyer-sticker-card-background_1033579-100342.jpg", alt: "ProgrammerCafe Logo", class: "logo", style: "width: 30px; height: 30px; border-radius: 40%;" %>
      ProgrammerCafe
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class:'nav-link text-white' %>
        </li>
        <li class="nav-item">
          <%= link_to "Blog", posts_path, class:"nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= render 'layouts/categories', categories: @nav_categories %>
        </li>
      </ul>
      <ul class="navbar-nav">
        <%= render 'search/form' %>
        <%= render 'user/session_manager' %>
      </ul>
    </div>
  </div>
</nav>
